html {scroll-behavior: smooth;}
.hero {
  padding: 20px;
  text-align: center;
}

.hero h1, .hero p {
    color: white;
}
.hero h1 {font-family:monospace;font-size:35pt;}

.hero button {
    color: white;
    background-color: transparent;
    border: 3px solid white;
    padding: 10px 20px;
    border-radius:50%;
}

.hero button:hover {
   background-color:white; 
   color:black; 
}

.down-arrow {
    font-size: 2em;
}

.section {
  color:white;
  padding: 0 50px;
}

iframe {
  width:100%;
  height:50vh;
  border-radius:10px;
}

.arrow-inner {
  transition: transform 500ms ease;
}
.down-arrow:hover .arrow-inner {
  transform: translateY(10px);
}