#sso-divider {
  position: relative;
  margin: 2rem auto;
}

#sso-divider span {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: var(--background-color);
  padding: 8px;
  transform: translateX(-50%) translateY(-50%);
}

body>div {
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding: 32px;
}

button {
  width: 192px;
  font-size: 20px;
}

input {
  font-size: 20px;
}

#error:empty {
  display: none;
}

#prompt-signup {
  margin-top: 2rem;
  font-size: 0.9rem;

  & a {
    color: var(--accent-color);

    &:not(:hover) {
      text-decoration: none;
    }
  }
}