@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
/* https://www.realtimecolors.com/?colors=fffdf4-151822-007f7c-223846-f9f871&fonts=Roboto%20Mono-Roboto */

:root {
  --background-color: #151822;
  --foreground-color: #fffdf4;
  --foreground-color-dimmer: #8f929b;
  --primary-color-lighter: #008a86;
  --primary-color: #007f7c;
  --primary-color-dimmer: #00625f;
  --secondary-color: #223846;
  --accent-color: #f9f871;
  --positive-color: #97da7b;
  --negative-color: #ff9696;
}

button {
  all: unset;
  display: revert;
  cursor: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}
input, textarea {
  user-select: auto;
  -webkit-user-select: auto;
  outline: none;
}
textarea {
  white-space: revert;
}
:where([hidden]) {
  display: none;
}

body {
  height: 100%;
  width: 100%;
  background-color: #121212;
  color: var(--foreground-color);
  font-family: 'Fira Code', monospace;
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  background-color: var(--foreground-color-dimmer);
}

.button {
  --item-color: var(--foreground-color);
  padding: 4px 16px;
  border: 2px solid var(--item-color);
  color: var(--item-color);
  background-color: transparent;
  transition: 0.1s all;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: block;

  &:is(:hover, :focus, :active) {
    background-color: var(--item-color);
    color: var(--on-item-color, var(--background-color));
  }

  &.filled {
    background-color: var(--item-color);
    color: var(--on-item-color, var(--background-color));

    &:is(:hover, :focus, :active) {
      filter: brightness(1.25);
    }
  }

  & .button-icon {
    position: absolute;
    left: 4px;
    height: calc(100% - 8px);
    top: 50%;
    transform: translateY(-50%);
  }
}

input, textarea {
  padding: 4px 16px;
  border: 2px solid var(--foreground-color-dimmer);
  color: var(--foreground-color);
  transition: 0.1s all;
  border-radius: 8px;
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Fira Code", monospace;

  &:hover, &:focus, &:active {
    border-color: var(--item-color, var(--primary-color));
  }

  &::placeholder {
    color: var(--foreground-color-dimmer);
  }
}

form.validated :is(input, textarea):invalid {
  --item-color: var(--negative-color);
  --on-item-color: var(--background-color);
  border: 2px solid var(--item-color);
}
#navbar-profile-picture {
  max-width: 23px;
  max-height: 23px;
  border-radius: 50%;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 10px;
  position:fixed;
  width:100%;
  top:0;
  box-sizing:border-box;
  z-index: 500;
  position: relative;
}
#navbar-buttons > :is(a, button) {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius:10px;
  font-size: 1.1rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition:background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color:white; 
    color:black; 
  }
}

#navbar-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  &:has(~ #navbar-menu:not([hidden])) #btn-navbar-menu > svg {
    transform: rotate(180deg);
  }
}

#navbar-menu {
  background-color: var(--background-color);
  border: 2px solid var(--foreground-color-dimmer);
  border-radius: 10px;
  position: absolute;
  padding: 0.5rem 0;
  right: 0;
  top: 80px;

  & > *:not(hr) {
    color: white;
    background-color: transparent;
    margin: 0;
    border: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1rem;
    text-align: left;
    font-family: inherit;
    display: block;
    text-decoration: none;

    &:is(button, a):hover {
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }

  & > hr {
    width: 100%;
    height: 2px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
  }
}

#btn-navbar-menu > svg {
  transition: 0.1s transform;
}

p { color: var(--item-color); }

/* Random utility classes */
.primary {
  --item-color: var(--primary-color);
  --on-item-color: var(--foreground-color);
}
.secondary {
  --item-color: var(--secondary-color);
  --on-item-color: var(--foreground-color);
}
.accent {
  --item-color: var(--accent-color);
  --on-item-color: var(--background-color);
}
.positive {
  --item-color: var(--positive-color);
  --on-item-color: var(--background-color);
}
.negative {
  --item-color: var(--negative-color);
  --on-item-color: var(--background-color);
}

.box {
  background-color: var(--background-color);
  border: 2px solid var(--foreground-color-dimmer);
}

.center { text-align: center; }
.left { text-align: left; }
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.m-0 { margin: 0; }
.mb-3 { margin-bottom: 1rem; }
.p-3 { padding: 1rem; }
.p-2 { padding: 0.75rem; }
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.grow { flex-grow: 1; }
.w-full { width: 100%; }
.h-full { height: 100%; }
.bg-alt { background-color: var(--item-color); }