<!DOCTYPE html>
<html lang="en-US">
  
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="/static/css/style.css" />
  
  {% block head %}{% endblock %}
</head>
  
<body>
  <nav>
    <a href="/"><img src="/static/txtlogo.png" alt="Logo" class="logo" height="60" /></a>
    <div id="navbar-buttons">
      {% if g.user %}
      <a href="/create.html" class="signed-in" hidden>Create</a>
      <a href="javascript:(function(){document.querySelector('.communityExpl').style.display=document.querySelector('.communityExpl').style.display=='none'?'block':'none'})()" class="signed-in" hidden>Community</a>
      <button class="signed-in" hidden id="btn-navbar-menu">
        <img id="profile-picture" src="/imgs/blankpfp.jpeg"></img>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16" id="dropdown-arrow">
          <path
            d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659" />
        </svg>
      </button>
      {% else %}
      <a href="/login/" class="signed-out" hidden>Log In</a>
      <a href="/signup/" class="signed-out" hidden>Sign Up</a>
      {% endif %}
    </div>

    {% if user %}
    <div id="navbar-menu" hidden>
      <strong>Logged in as <span id="name" style="color: var(--accent-color);"></span></strong>
      <hr/>
      <a href="/~.html">Home</a>
      <hr/>
      <a href="/settings.html">Settings</a>
      <hr/>
      <a href="/bits.html">My Bits</a>
      <hr/>
      <button id="btn-logout">Log Out</button>
    </div>
    {% endif %}
  </nav>
  {% block content %}{% endblock %}

  <script>
    console.log(`
        .....................
     ...........................
    .......@@@@..................
    .......@@@@..................
    .......@@@@..................  Curious and driven?
    .......@@@@..................  Work with us!
    .......@@@@..................
    .......@@@@..................  https://jobs.libit.xyz (may take up to a minute to load)
    .......@@@@..................  jobs@mail.libit.xyz
    .......@@@@@@@@@@@@@@@.......
    .......@@@@@@@@@@@@@@@.......
     ...........................
        .....................
    `);

    const navbarMenu = document.getElementById("navbar-menu");
    if (navbarMenu) {
      document.getElementById("btn-navbar-menu").addEventListener("click", e => {
        navbarMenu.hidden = !navbarMenu.hidden;
        e.stopPropagation();
      });
      document.addEventListener("click", () => navbarMenu.hidden = true);
    }

    if ("serviceWorker" in navigator)
      navigator.serviceWorker.register("/static/js/service-worker.js", { type: "module", scope: "/" });
  </script>
</body>
  
</html>