{% extends 'base.html' %}

{% block title %}Libit{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/index.css" />
{% endblock %}
{% block content %}

<div class="section hero">
  <h1>Libit</h1>
  <p>Libit-y from other platforms.</p>
  <button onclick="window.scrollTo(0,document.querySelector('.section:not(.hero)').offsetHeight-100)" class="down-arrow"><div class="arrow-inner">↓</div></button>
</div>
<div class="section">
  <h1>Try the Editor</h1>
  <p>Powered by Monaco, our editor provides a familiar feeling to users from VSCode or similar IDEs.</p>
  <iframe src="/ide-html.html" frameborder="0"></iframe>
</div>
<div class="section">
  <h1>Dibs</h1>
  <p>We offer reliable hosting for free. Dibs allow you to deploy your sites to the web.</p>
  <iframe src="https://dibs.libit.xyz/newsreport" frameborder="0"></iframe>
</div>
<div class="section">
  <h1>Community</h1>
  <p>Our forum, Bibble, has over 0 members who love helping. Over 0 resources are made every day for the community, by the community.</p>
  <iframe src="https://bibble.flarum.cloud" frameborder="0"></iframe>
</div>

<script>
  const sayings = [
    "Libit-y from other platforms.",
    "Just a li' bit better than your average coding platform.",
    "Don't put up with the Mad Libs of other platforms' decisions; lib it the right way!",
    "Feel like you're missing out using other platforms? We're the \"bit\" you've been missing.",
    "Feel restricted by storage limits? We'll give you as many \"bits\" as you need."
  ]
  document.querySelector(".hero p").innerText = sayings[Math.floor(Math.random() * sayings.length)]
</script>

{% endblock %}