{% extends 'base.html' %}

{% block title %}{% if signup %}Sign Up{% else %}Log In{% endif %} - Libit{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/login.css" />
{% endblock %}
{% block content %}

<h1 class="f1 p-3 bold center">Log In</h1>
<div class="box">
  <form id="login-pw" novalidate>
    {% if signup %}
    <input type="text" placeholder="Display Name" required id="name" class="mb-3 left" />
    {% endif %}
    <input type="email" placeholder="Email" required id="email" class="mb-3 left" />
    <input type="password" placeholder="Password" required id="password" class="mb-3 left" />
    {% if signup %}
    <input type="password" placeholder="Confirm Password" required id="password-confirm" class="mb-3 left" />
    {% endif %}
    <p id="error" class="negative mb-3"></p>
    <button type="submit" class="button f5 mx-auto primary filled">Log In</button>
  </form>
  <div id="sso-divider">
    <hr>
    <span>or</span>
  </div>
  <button type="button" id="login-google" class="button mb-3 mx-auto">
    <img src="https://google.com/favicon.ico" class="button-icon" />
    Google
  </button>
  <button id="login-github" class="button mb-3 mx-auto">
    <img src="imgs/github.png" class="button-icon">
    GitHub
  </button>
  <button type="button" id="login-replit" class="button mb-3 mx-auto">
    <img src="https://replit.com/public/icons/favicon-prompt-192.png" class="button-icon" />
    Replit
  </button>
  {% if signup %}
  <p id="prompt-signup">Don't have an account? <a href="/signup/">Sign up instead</a></p>
  {% else %}
  <p id="prompt-login">Already have an account? <a href="/login/">Log in instead</a></p>
  {% endif %}
</div>

<script type="module">
  import {getApp} from "/static/js/firebase.js";
  import {getAuth, signInWithEmailAndPassword, signInWithCustomToken, GoogleAuthProvider, GithubAuthProvider, signInWithPopup} from "https://www.gstatic.com/firebasejs/10.7.2/firebase-auth.js";
  
  const loginPwForm = document.getElementById("login-pw");
  const loginGoogle = document.getElementById("login-google");
  const loginGithub = document.getElementById("login-github");
  const loginReplit = document.getElementById("login-replit");
  const error = document.getElementById("error");

  const app = getApp();
  const auth = getAuth(app);
  const googleAuthProvider = new GoogleAuthProvider();
  const githubAuthProvider = new GithubAuthProvider();

  let replAuthWindow = null;

  // Email/PW
  loginPwForm.addEventListener("submit", async e => {
    e.preventDefault();
    loginPwForm.classList.add("validated");

    loginPwForm.elements.password.setCustomValidity("");

    const email = loginPwForm.elements.email.value;
    const name = loginPwForm.elements.name?.value;
    const confirmPassword = loginPwForm.elements["password-confirm"]?.value;
    const password = loginPwForm.elements.password.value;

    if (confirmPassword && password !== confirmPassword) loginPwForm.elements.password.setCustomValidity("Passwords do not match");

    if (loginPwForm.reportValidity()) {
      try {
        // If confirmPassword exists, this is the signup page
        if (confirmPassword) {
          await createUserWithEmailAndPassword(auth, email, password);
          await updateProfile(auth.currentUser, { displayName: name });
        } else {
          await signInWithEmailAndPassword(auth, email, password);
        }
        location.reload();
      } catch (err) {
        if (err.code === "auth/invalid-credential") {
          error.innerText = "Invalid email or password";
        } else if (err.code === "auth/email-already-in-use") {
          error.innerText = "Email already exists. Try logging in instead.";
        } else {
          error.innerText = err.message;
        }
      }
    }
  });

  loginGoogle.addEventListener("click", async () => {
    try {
      await signInWithPopup(auth, googleAuthProvider);
      location.reload();
    } catch (err) {
      // TODO: better errors
      error.innerText = err.message;
    }
  });

  loginGithub.addEventListener("click", async () => {
    try {
      await signInWithPopup(auth, githubAuthProvider);
      location.reload();
    } catch (err) {
      // TODO: better errors
      error.innerText = err.message;
    }
  });

  loginReplit.addEventListener("click", () => {
    window.replAuthWindow = open(
      "https://replit.com/auth_with_repl_site?domain=libit.xyz",
      "_blank",
      `modal =yes, toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=350, height=500, top=${screen.height / 2 - 250}, left=${screen.width / 2 - 125}`
    );
  });

  // Handle Repl Auth callbacks
  addEventListener("message", async e => {
    if (e.data.type == "repl-auth-token" && (e.origin == "https://api.libit.xyz" || e.origin == "https://libit-api.onrender.com")) {
      window.replAuthWindow?.close();
      await signInWithCustomToken(auth, e.data.token);
      location.reload();
    } 
  });
</script>

{% endblock content %}